<footer class="main-footer">
    <strong>Bản quyền &copy; 2021 <a href="https://bkk.vn/">BKK.VN</a>.</strong>
    Đã được bảo hộ.
    <div class="float-right d-none d-sm-inline-block">
      <b>Phiên bản</b> 1.1.0
    </div>
</footer>